[submodule "clock_publisher"]
	path = clock_publisher
	url = https://ghproxy.com/https://github.com/hsgwa/clock_publisher.git
[submodule "clock_recorder"]
	path = clock_recorder
	url = https://ghproxy.com/https://github.com/hsgwa/clock_recorder.git
